<div class="event-calendar" >
    <div class="head">
      <p class="top-line">upcoming events</p>
    </div>
    <div class="spacer"></div>
    <div class="event-list">
      <a href="#" class="event">
        <div class="event-container">
          <span class="date-container">
            <span class="date">31<span class="month">may</span></span>
          </span>
          <span class="detail-container">
            <span class="title">linden hills farmers market</span>
          <span class="description">Every other Sunday</span>
          </span>
          </span>
        </div>
      </a>
      <div class="spacer"></div>
      <a href="#" class="event">
        <div class="event-container">
          <span class="date-container">
              <span class="date">06<span class="month">jun</span></span>
          </span>
          <span class="detail-container">
              <span class="title">minneapolis farmers market</span>
          <span class="description">Every Saturday</span>
          </span>
          </span>
        </div>
      </a>
      <div class="spacer"></div>
      <a href="#" class="event">
        <div class="event-container">
          <span class="date-container">
              <span class="date">13<span class="month">jun</span></span>
          </span>
          <span class="detail-container">
              <span class="title">minneapolis farmers market</span>
          <span class="description">Every Saturday</span>
          </span>
          </span>
        </div>
      </a>
      <div class="spacer"></div>
    </div>
  </div>
  </div>