<fieldset>
		<legend>Basic Informaton</legend>
	<label for="first_name">First Name</label>
	<input class="expand" type="text" name="first_name" id="first_name" />
	<label for="last_name">Last Name</label>
	<input class="expand" type="text" name="last_name" id="last_name" />
	<label for="email">Email Address (Cal Poly email if possible)</label>
	<input class="expand" type="text" name="email" id="email" />
	<label for="phone">Phone Number</label>
	<input class="expand" type="text" name="phone" id="phone" />
	<p><strong>Hours of operation can range from 6 am to 2 am, Mon-Sun, depending on the unit.</strong></p>
	<label for="availability">Availability from now till September 22, 2016</label>
	<input class="expand" type="text" name="availability" id="availability" />
	<label for="availability-datenow">Availability for Fall quarter 2016</label><input class="expand" type="text" name="availability-datenow" id="availability-datenow" />
	<label for="class-standing">If a student, will you be a Freshman, Sophmore, Junior, or Senior for Fall quarter 2016?</label><br/>
	<input class="expand" type="text" name="class-standing" id="class-standing" />
	<label for="major">Major</label>
	<input class="expand" type="text" name="major" id="major" />
	<label for="eligible">Federal work Study eligible?</label>
	<input class="expand" type="text" name="eligible" id="eligible" />
</fieldset>
