<div class="round-green">
<a href="http://www.facebook.com/CPcampusdining" class="social-button facebook"><i class="fa fa-facebook"></i></a>
<a href="http://www.twitter.com/CPcampusdining" class="social-button twitter"><i class="fa fa-twitter"></i></a>
<a href="http://www.youtube.com/calpoly" class="social-button youtube"><i class="fa fa-youtube"></i></a>
<a href="http://instagram.com/CPcampusdining" class="social-button instagram"><i class="fa fa-instagram"></i></a>
<a href="http://www.pinterest.com/cpinitgirl/" class="social-button pinterest"><i class="fa fa-pinterest"></i></a>
</div>