<div id="Fall_Hours">
<table class="tables hours-table" cellspacing="0" cellpad="0">
<colgroup>
   <col class="short">
   <col span="2" class="long">
</colgroup>
<tbody class="table-dropdown">
   <tr>
      <th>University Union Neighborhood</th>
   </tr>
   <tr>
      <td>
         <a href="/805kitchen">
         <img src="/img/logos/805Kitchen.svg" class="logo ignore-svg" alt="805 Kitchen">
         </a>
      </td>
      <td>
         <p>805 Kitchen</p>
      </td>
      <td>
         <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      </td>
   </tr>
   <tr>
      <td>
         <a href="/805cafe">
         <img src="/img/logos/805Cafe.svg" class="logo ignore-svg" alt="805 Cafe">
         </a>
      </td>
      <td>
         <p>805 Cafe</p>
      </td>
      <td>
         <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      </td>
   </tr>
        
  <tr class="">

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:00 AM -  9:00 AM, 
    
      11:30 AM -  1:30 PM, 
    
       5:00 PM -  7:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:00 AM -  9:00 AM, 
    
      11:30 AM -  1:30 PM, 
    
       5:00 PM -  7:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    
    
       7:00 AM -  9:00 AM, 
    
      11:30 AM -  1:30 PM, 
    
       5:00 PM -  7:00 PM
    
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    
    
       7:00 AM -  9:00 AM, 
    
      11:30 AM -  1:30 PM, 
    
       5:00 PM -  7:00 PM
    
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  











<td class="google_business_hours_by_day monday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    
    
      10:00 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    
    
      10:00 AM -  4:00 PM
    
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/bishopsburgers">
      <img src="/img/logos/Bishops-Burgers.svg" class="logo ignore-svg" alt="Bishop Craft Burgers">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/chickfila">
      <img src="/img/logos/Chick-Fil-A.svg" class="logo ignore-svg" alt="Chick-Fil-A">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/lucysjuice">
                <img src="/img/logos/Lucys-Juice.svg" class="logo ignore-svg" alt="Lucy's Juice">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/mustangstation">
                <img src="/img/logos/Mustang-Station.svg" class="logo ignore-svg" alt="Mustang Station">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/myrons">
                <img src="/img/logos/Myrons.svg" class="logo ignore-svg" alt="Myron's">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/redradish">
                <img src="/img/logos/Red-Radish.svg" class="logo ignore-svg" alt="Red Radish">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/polydeli">
                <img src="/img/logos/Poly-Deli.svg" class="logo ignore-svg" alt="Poly Deli">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
      <a href="/starbucks">
      <img src="/img/logos/Starbucks-Coffee.svg" class="logo ignore-svg" alt="Starbucks UU">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:00 AM -  5:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:00 AM -  5:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
      <a href="/tutaco">
      <img src="/img/logos/Tu-Taco.svg" class="logo ignore-svg" alt="Tu Taco">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/theavenue">
      <img src="/img/logos/The-Avenue.svg" class="logo ignore-svg" alt="The Avenue">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       8:00 AM -  3:30 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/yogurtcreations">
                <img src="/img/logos/Yogurt-Creations.svg" class="logo ignore-svg" alt="Yogurt Creations">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/studentchoice">
                <img src="/img/logos/Student-Choice.svg" class="logo ignore-svg" alt="Student Choice">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/shakesmart">
      <img src="/img/logos/Shake-Smart.svg" class="logo ignore-svg" alt="Shake Smart">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
      10:00 AM -  8:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
      10:00 AM -  8:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    
    
      10:00 AM -  8:00 PM
    
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    
    
      10:00 AM -  8:00 PM
    
  
</td>




                

              </tr>

            

          

        


      


        
        <tr>
          <th>Kennedy Library Neighborhood</th>
          <th>Monday-Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>


        
        



        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/campusmarket">
      <img src="/img/logos/Campus-Market.svg" class="logo ignore-svg" alt="Campus Market">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <span>- </span>The Grill at Campus Market
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
      10:45 AM -  3:15 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
      10:45 AM -  3:15 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <span>- </span>The Salad Bar at Campus Market
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/julians">
                <img src="/img/logos/Julians.svg" class="logo ignore-svg" alt="Julian's Cafe Bistro">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
      <a href="/starbucks">
      <img src="/img/logos/Starbucks-Coffee.svg" class="logo ignore-svg" alt="Starbucks CM">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:30 AM -  4:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          
            


            

            
            
            
            

            
            

              <tr class="">

                

                  










<td>
  
    <a href="/subway">
      <img src="/img/logos/Subway.svg" class="logo ignore-svg" alt="Subway">
    </a>
  
</td>

<td class="google_business_hours_by_day monday_only">
  
    
    
       7:00 AM -  5:00 PM
    
  
</td>
<td class="google_business_hours_by_day friday_only">
  
    
    
       7:00 AM -  5:00 PM
    
  
</td>
<td class="google_business_hours_by_day saturday_only">
  
    Closed
  
</td>
<td class="google_business_hours_by_day sunday_only">
  
    Closed
  
</td>




                

              </tr>

            

          

        
          
          
          <tr class="closed">
            <td>
            
                <a href="/tutaco">
                <img src="/img/logos/Tu-Taco.svg" class="logo ignore-svg" alt="Tu Taco Express">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        


      


        
        <tr>
          <th>Poly Canyon Village Neighborhood</th>
          <th>Monday-Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>


        
        



        
          
          
          <tr class="closed">
            <td>
            
              <a href="/einsteinbrosbagels">
                <img src="/img/logos/Einstein-Bagels.svg" class="logo ignore-svg" alt="Einstein Bagels">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/jambajuice">
                <img src="/img/logos/Jamba-Juice.svg" class="logo ignore-svg" alt="Jamba Juice">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/villagemarket">
                <img src="/img/logos/Village-Market.svg" class="logo ignore-svg" alt="Village Market">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/canyoncafe">
                <img src="/img/logos/Canyon-Cafe.svg" class="logo ignore-svg" alt="Canyon Cafe">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        


      


        
        <tr>
          <th>Food Trucks</th>
          <th>Monday-Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>


        
        



        
          
          
          <tr class="closed">
            <td>
            
              <a href="/centralcoaster">
                <img src="/img/logos/Central-Coaster.svg" class="logo ignore-svg" alt="Central Coaster">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
              <a href="/curbsidegrill">
                <img src="/img/logos/Curbside-Grill.svg" class="logo ignore-svg" alt="Curbside Grill">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        
          
          
          <tr class="closed">
            <td>
            
                <a href="/starbucks">
                <img src="/img/logos/Starbucks-Coffee.svg" class="logo ignore-svg" alt="Starbucks Truck">
              </a>
            
            </td>
            <td class="" colspan="4">
              closed for summer
            </td>
            
          </tr>
          

        


      


    </tbody>
  </table>
  <p class="small">* Hours vary for holidays, on breaks, and during summer quarter. Hours and locations subject to change.</p>
</div>