<div id="Fall_Hours">
    <table class="tables hours-table" cellspacing="0" cellpad="0">
       <colgroup>
          <col class="short">
          <col span="2" class="long">
       </colgroup>
       <tbody>
          <tr>
             <th>University Union</th>
             <th>Monday-Thursday</th>
             <th>Friday</th>
             <th>Saturday</th>
             <th>Sunday</th>
          </tr>
          <tr>
             <td><a href="/805kitchen"><img src="/img/logos/805Kitchen.svg" class="logo ignore-svg" alt="805 Kitchen"></a></td>
             <td class="google_business_hours_by_day monday_only">8:00 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day friday_only">8:00 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 12:00 AM</td>
          </tr>
          <tr>
             <td><a href="/805cafe"><img src="/img/logos/805Cafe.svg" class="logo ignore-svg" alt="805 Cafe"></a></td>
             <td class="google_business_hours_by_day monday_only">9:00 AM - 6:00 PM</td>
             <td class="google_business_hours_by_day friday_only">9:00 AM - 4:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:30 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:30 AM - 5:00 PM</td>
          </tr>
          <tr>
             <td><a href="/bishopsburgers"><img src="/img/logos/Bishops-Burgers.svg" class="logo ignore-svg" alt="Bishop Craft Burgers"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:00 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><a href="/chickfila"><img src="/img/logos/Chick-Fil-A.svg" class="logo ignore-svg" alt="Chick-Fil-A"></a></td>
             <td class="google_business_hours_by_day monday_only">6:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">6:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">6:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <td><a href="/lucysjuice"><img src="/img/logos/Lucys-Juice.svg" class="logo ignore-svg" alt="Lucy's Juice"></a></td>
             <td class="google_business_hours_by_day monday_only">8:00 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day friday_only">8:00 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <td><a href="/mustangstation"><img src="/img/logos/Mustang-Station.svg" class="logo ignore-svg" alt="Mustang Station"></a></td>
             <td class="google_business_hours_by_day monday_only">10:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">10:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">11:30 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><a href="/myrons"><img src="/img/logos/Myrons.svg" class="logo ignore-svg" alt="Myron's"></a></td>
             <td class="google_business_hours_by_day monday_only">11:00 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day friday_only">11:00 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <td><a href="/redradish"><img src="/img/logos/Red-Radish.svg" class="logo ignore-svg" alt="Red Radish"></a></td>
             <td class="google_business_hours_by_day monday_only">10:30 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day friday_only">10:30 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">4:30 PM - 8:00 PM</td>
          </tr>
          <tr>
             <td><a href="/polydeli"><img src="/img/logos/Poly-Deli.svg" class="logo ignore-svg" alt="Poly Deli"></a></td>
             <td class="google_business_hours_by_day monday_only">7:30 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:30 AM - 7:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">10:30 AM - 7:00 PM</td>
          </tr>
          <tr>
             <td><a href="/Starbucks-University-Union"><img src="/img/logos/Starbucks-University-Union.svg" class="logo ignore-svg" alt="Starbucks UU"></a></td>
             <td class="google_business_hours_by_day monday_only">6:30 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day friday_only">6:30 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day saturday_only">8:30 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day sunday_only">8:30 AM - 12:00 AM</td>
          </tr>
          <tr>
             <td><a href="/tutaco"><img src="/img/logos/Tu-Taco-Avenue.svg" class="logo ignore-svg" alt="Tu Taco"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:00 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><a href="/theavenue"><img src="/img/logos/The-Avenue.svg" class="logo ignore-svg" alt="The Avenue"></a></td>
             <td class="google_business_hours_by_day monday_only">6:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">6:30 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:00 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><a href="/yogurtcreations"><img src="/img/logos/Yogurt-Creations.svg" class="logo ignore-svg" alt="Yogurt Creations"></a></td>
             <td class="google_business_hours_by_day monday_only">10:00 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day friday_only">10:00 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day saturday_only">12:30 PM - 12:00 AM</td>
             <td class="google_business_hours_by_day sunday_only">12:30 PM - 12:00 AM</td>
          </tr>
          <tr>
             <td><a href="/studentchoice"><img src="/img/logos/Student-Choice.svg" class="logo ignore-svg" alt="Student Choice"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:00 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><a href="/shakesmart"><img src="/img/logos/Shake-Smart.svg" class="logo ignore-svg" alt="Shake Smart"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 9:30 PM</td>
             <td class="google_business_hours_by_day saturday_only">8:30 AM - 9:30 PM</td>
             <td class="google_business_hours_by_day sunday_only">8:30 AM - 9:30 PM</td>
          </tr>
          <tr>
             <th>Kennedy Library</th>
             <th>Monday-Thursday</th>
             <th>Friday</th>
             <th>Saturday</th>
             <th>Sunday</th>
          </tr>
          <tr>
             <td><a href="/campusmarket"><img src="/img/logos/Campus-Market.svg" class="logo ignore-svg" alt="Campus Market"></a></td>
             <td class="google_business_hours_by_day monday_only">6:30 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day friday_only">6:30 AM - 12:00 AM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 6:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 10:00 PM</td>
          </tr>
          <tr>
             <td><span>- </span>The Grill at Campus Market</td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">10:45 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">10:45 AM - 8:00 PM</td>
          </tr>
          <tr>
             <td><span>- </span>The Salad Bar at Campus Market</td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 9:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 9:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 5:30 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
             <td><a href="/julians"><img src="/img/logos/Julians.svg" class="logo ignore-svg" alt="Julian's Cafe Bistro"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 9:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 9:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 9:00 PM</td>
          </tr>
          <tr>
             <td><a href="/starbucks-campus-market"><img src="/img/logos/Starbucks-at-CM.svg" class="logo ignore-svg" alt="Starbucks CM"></a></td>
             <td class="google_business_hours_by_day monday_only">6:30 AM - 11:00 PM</td>
             <td class="google_business_hours_by_day friday_only">6:30 AM - 9:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 6:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 9:00 PM</td>
          </tr>
          <tr>
             <td><a href="/subway"><img src="/img/logos/Subway.svg" class="logo ignore-svg" alt="Subway"></a></td>
             <td class="google_business_hours_by_day monday_only">Open 24 hours</td>
             <td class="google_business_hours_by_day friday_only">Open 24 hours</td>
             <td class="google_business_hours_by_day saturday_only">Open 24 hours</td>
             <td class="google_business_hours_by_day sunday_only">Open 24 hours</td>
          </tr>
          <tr>
             <td><a href="/tutaco"><img src="/img/logos/Tu-Taco-Express.svg" class="logo ignore-svg" alt="Tu Taco Express"></a></td>
             <td class="google_business_hours_by_day monday_only">7:30 AM - 5:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:30 AM - 2:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <th>Poly Canyon Village</th>
             <th>Monday-Thursday</th>
             <th>Friday</th>
             <th>Saturday</th>
             <th>Sunday</th>
          </tr>
          <tr>
             <td><a href="/einsteinbrosbagels"><img src="/img/logos/Einstein-Bagels.svg" class="logo ignore-svg" alt="Einstein Bagels"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 8:00 PM</td>
          </tr>
          <tr>
             <td><a href="/jambajuice"><img src="/img/logos/Jamba-Juice.svg" class="logo ignore-svg" alt="Jamba Juice"></a></td>
             <td class="google_business_hours_by_day monday_only">9:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day friday_only">9:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 8:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 8:00 PM</td>
          </tr>
          <tr>
             <td><a href="/villagemarket"><img src="/img/logos/Village-Market.svg" class="logo ignore-svg" alt="Village Market"></a></td>
             <td class="google_business_hours_by_day monday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day friday_only">7:00 AM - 10:00 PM</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 11:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 11:00 PM</td>
          </tr>
          <tr>
             <td><a href="/canyoncafe"><img src="/img/logos/Canyon-Cafe.svg" class="logo ignore-svg" alt="Canyon Cafe"></a></td>
             <td class="google_business_hours_by_day monday_only">Closed</td>
             <td class="google_business_hours_by_day friday_only">Closed</td>
             <td class="google_business_hours_by_day saturday_only">9:00 AM - 2:00 PM</td>
             <td class="google_business_hours_by_day sunday_only">9:00 AM - 2:00 PM</td>
          </tr>
          <tr>
             <th>Mobile</th>
             <th>Monday-Thursday</th>
             <th>Friday</th>
             <th>Saturday</th>
             <th>Sunday</th>
          </tr>
          <tr>
             <td><a href="/centralcoaster"><img src="/img/logos/Central-Coaster.svg" class="logo ignore-svg" alt="Central Coaster"></a></td>
             <td class="google_business_hours_by_day monday_only">10:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day friday_only">10:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <td><a href="/curbsidegrill"><img src="/img/logos/Curbside-Grill.svg" class="logo ignore-svg" alt="Curbside Grill"></a></td>
             <td class="google_business_hours_by_day monday_only">10:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day friday_only">10:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
          <tr>
             <td><a href="/starbucks-truck"><img src="/img/logos/Starbucks-Mobile.svg" class="logo ignore-svg" alt="Starbucks Truck"></a></td>
             <td class="google_business_hours_by_day monday_only">7:30 AM - 10:30 AM, 11:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day friday_only">7:30 AM - 10:30 AM, 11:30 AM - 2:30 PM</td>
             <td class="google_business_hours_by_day saturday_only">Closed</td>
             <td class="google_business_hours_by_day sunday_only">Closed</td>
          </tr>
       </tbody>
    </table>
 </div>

 <table class="tables table-dropdown" cellspacing="0" cellpad="0">
    <colgroup>
       <col class="short">
       <col class="long">
    </colgroup>
    <tbody>
       <tr>
          <th>University Union</th>
       </tr>
       <tr class="805Kitchen" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/805kitchen"><img src="/img/logos/805Kitchen.svg" class="logo ignore-svg" alt="805 Kitchen"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="805Kitchen hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             8:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="805Kitchen hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             8:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="805Kitchen hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="805Kitchen hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="805Cafe" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/805cafe"><img src="/img/logos/805Cafe.svg" class="logo ignore-svg" alt="805 Cafe"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="805Cafe hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             9:00 AM - 6:00 PM
          </td>
       </tr>
       <tr class="805Cafe hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             9:00 AM - 4:00 PM
          </td>
       </tr>
       <tr class="805Cafe hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:30 AM - 5:00 PM
          </td>
       </tr>
       <tr class="805Cafe hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:30 AM - 5:00 PM
          </td>
       </tr>
       <tr class="Bishops-Burgers" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/bishopsburgers"><img src="/img/logos/Bishops-Burgers.svg" class="logo ignore-svg" alt="Bishop Craft Burgers"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Bishops-Burgers hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Bishops-Burgers hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Bishops-Burgers hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Bishops-Burgers hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Chick-Fil-A" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/chickfila"><img src="/img/logos/Chick-Fil-A.svg" class="logo ignore-svg" alt="Chick-Fil-A"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Chick-Fil-A hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             6:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Chick-Fil-A hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             6:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Chick-Fil-A hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             6:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Chick-Fil-A hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr class="Lucys-Juice" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/lucysjuice"><img src="/img/logos/Lucys-Juice.svg" class="logo ignore-svg" alt="Lucy's Juice"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Lucys-Juice hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             8:00 AM - 5:00 PM
          </td>
       </tr>
       <tr class="Lucys-Juice hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             8:00 AM - 5:00 PM
          </td>
       </tr>
       <tr class="Lucys-Juice hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Lucys-Juice hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr class="Mustang-Station" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/mustangstation"><img src="/img/logos/Mustang-Station.svg" class="logo ignore-svg" alt="Mustang Station"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Mustang-Station hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             10:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Mustang-Station hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             10:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Mustang-Station hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Mustang-Station hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             11:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Myrons" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/myrons"><img src="/img/logos/Myrons.svg" class="logo ignore-svg" alt="Myron's"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Myrons hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             11:00 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Myrons hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             11:00 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Myrons hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Myrons hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr class="Red-Radish" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/redradish"><img src="/img/logos/Red-Radish.svg" class="logo ignore-svg" alt="Red Radish"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Red-Radish hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             10:30 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Red-Radish hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             10:30 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Red-Radish hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Red-Radish hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             4:30 PM - 8:00 PM
          </td>
       </tr>
       <tr class="Poly-Deli" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/polydeli"><img src="/img/logos/Poly-Deli.svg" class="logo ignore-svg" alt="Poly Deli"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Poly-Deli hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:30 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Poly-Deli hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:30 AM - 7:00 PM
          </td>
       </tr>
       <tr class="Poly-Deli hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Poly-Deli hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:30 AM - 7:00 PM
          </td>
       </tr>
       <tr class="Starbucks-University-Union" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/Starbucks-University-Union"><img src="/img/logos/Starbucks-University-Union.svg" class="logo ignore-svg" alt="Starbucks UU"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Starbucks-University-Union hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             6:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Starbucks-University-Union hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             6:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Starbucks-University-Union hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             8:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Starbucks-University-Union hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             8:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Tu-Taco-Avenue" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/tutaco"><img src="/img/logos/Tu-Taco-Avenue.svg" class="logo ignore-svg" alt="Tu Taco @ The Avenue"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Tu-Taco-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Tu-Taco-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Tu-Taco-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Tu-Taco-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="The-Avenue" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/theavenue"><img src="/img/logos/The-Avenue.svg" class="logo ignore-svg" alt="The Avenue"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="The-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             6:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="The-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             6:30 AM - 10:00 PM
          </td>
       </tr>
       <tr class="The-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="The-Avenue hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Yogurt-Creations" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/yogurtcreations"><img src="/img/logos/Yogurt-Creations.svg" class="logo ignore-svg" alt="Yogurt Creations"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Yogurt-Creations hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             10:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Yogurt-Creations hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             10:00 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Yogurt-Creations hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             12:30 PM - 12:00 AM
          </td>
       </tr>
       <tr class="Yogurt-Creations hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             12:30 PM - 12:00 AM
          </td>
       </tr>
       <tr class="Student-Choice" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/studentchoice"><img src="/img/logos/Student-Choice.svg" class="logo ignore-svg" alt="Student Choice"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Student-Choice hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Student-Choice hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Student-Choice hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Student-Choice hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Shake-Smart" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/shakesmart"><img src="/img/logos/Shake-Smart.svg" class="logo ignore-svg" alt="Shake Smart"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Shake-Smart hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Shake-Smart hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 9:30 PM
          </td>
       </tr>
       <tr class="Shake-Smart hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             8:30 AM - 9:30 PM
          </td>
       </tr>
       <tr class="Shake-Smart hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             8:30 AM - 9:30 PM
          </td>
       </tr>
       <tr>
          <th>Kennedy Library</th>
       </tr>
       <tr class="Campus-Market" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/campusmarket"><img src="/img/logos/Campus-Market.svg" class="logo ignore-svg" alt="Campus Market"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Campus-Market hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             6:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Campus-Market hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             6:30 AM - 12:00 AM
          </td>
       </tr>
       <tr class="Campus-Market hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 6:00 PM
          </td>
       </tr>
       <tr class="Campus-Market hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="The-Grill-at-CM" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5">
             <p>The Grill at Campus Market</p>
             <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
          </td>
       </tr>
       <tr class="The-Grill-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="The-Grill-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="The-Grill-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             10:45 AM - 5:00 PM
          </td>
       </tr>
       <tr class="The-Grill-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             10:45 AM - 8:00 PM
          </td>
       </tr>
       <tr class="The-Salad-Bar-at-CM" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5">
             <p>The Salad Bar at Campus Market</p>
             <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
          </td>
       </tr>
       <tr class="The-Salad-Bar-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="The-Salad-Bar-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="The-Salad-Bar-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 5:30 PM
          </td>
       </tr>
       <tr class="The-Salad-Bar-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 7:00 PM
          </td>
       </tr>
       <tr class="Julians" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/julians"><img src="/img/logos/Julians.svg" class="logo ignore-svg" alt="Julian's Cafe Bistro"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Julians hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="Julians hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 5:00 PM
          </td>
       </tr>
       <tr class="Julians hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="Julians hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="Starbucks-at-CM" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/starbucks-campus-market"><img src="/img/logos/Starbucks-at-CM.svg" class="logo ignore-svg" alt="Starbucks CM"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Starbucks-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             6:30 AM - 11:00 PM
          </td>
       </tr>
       <tr class="Starbucks-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             6:30 AM - 9:00 PM
          </td>
       </tr>
       <tr class="Starbucks-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 6:00 PM
          </td>
       </tr>
       <tr class="Starbucks-at-CM hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 9:00 PM
          </td>
       </tr>
       <tr class="Subway" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/subway"><img src="/img/logos/Subway.svg" class="logo ignore-svg" alt="Subway"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Subway hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             Open 24 hours
          </td>
       </tr>
       <tr class="Subway hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             Open 24 hours
          </td>
       </tr>
       <tr class="Subway hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Open 24 hours
          </td>
       </tr>
       <tr class="Subway hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Open 24 hours
          </td>
       </tr>
       <tr class="Tu-Taco-Express" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/tutaco"><img src="/img/logos/Tu-Taco-Express.svg" class="logo ignore-svg" alt="Tu Taco Express"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Tu-Taco-Express hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:30 AM - 5:00 PM
          </td>
       </tr>
       <tr class="Tu-Taco-Express hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:30 AM - 2:00 PM
          </td>
       </tr>
       <tr class="Tu-Taco-Express hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Tu-Taco-Express hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr>
          <th>Poly Canyon Village</th>
       </tr>
       <tr class="Einstein-Bagels" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/einsteinbrosbagels"><img src="/img/logos/Einstein-Bagels.svg" class="logo ignore-svg" alt="Einstein Bagels"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Einstein-Bagels hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Einstein-Bagels hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Einstein-Bagels hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Einstein-Bagels hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Jamba-Juice" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/jambajuice"><img src="/img/logos/Jamba-Juice.svg" class="logo ignore-svg" alt="Jamba Juice"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Jamba-Juice hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Jamba-Juice hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Jamba-Juice hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Jamba-Juice hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 8:00 PM
          </td>
       </tr>
       <tr class="Village-Market" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/villagemarket"><img src="/img/logos/Village-Market.svg" class="logo ignore-svg" alt="Village Market"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Village-Market hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Village-Market hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:00 AM - 10:00 PM
          </td>
       </tr>
       <tr class="Village-Market hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 11:00 PM
          </td>
       </tr>
       <tr class="Village-Market hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 11:00 PM
          </td>
       </tr>
       <tr class="Canyon-Cafe" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/canyoncafe"><img src="/img/logos/Canyon-Cafe.svg" class="logo ignore-svg" alt="Canyon Cafe"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Canyon-Cafe hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             Closed
          </td>
       </tr>
       <tr class="Canyon-Cafe hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             Closed
          </td>
       </tr>
       <tr class="Canyon-Cafe hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             9:00 AM - 2:00 PM
          </td>
       </tr>
       <tr class="Canyon-Cafe hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             9:00 AM - 2:00 PM
          </td>
       </tr>
       <tr>
          <th>Mobile</th>
       </tr>
       <tr class="Central-Coaster" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/centralcoaster"><img src="/img/logos/Central-Coaster.svg" class="logo ignore-svg" alt="Central Coaster"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Central-Coaster hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             10:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Central-Coaster hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             10:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Central-Coaster hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Central-Coaster hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr class="Curbside-Grill" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/curbsidegrill"><img src="/img/logos/Curbside-Grill.svg" class="logo ignore-svg" alt="Curbside Grill"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Curbside-Grill hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             10:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Curbside-Grill hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             10:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Curbside-Grill hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Curbside-Grill hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
       <tr class="Starbucks-Mobile" onclick="clickedOnHoursTable(this)">
          <td class="hours-table__venue" colspan="5"><a href="/starbucks-truck"><img src="/img/logos/Starbucks-Mobile.svg" class="logo ignore-svg" alt="Starbucks Truck"> </a><i class="fa fa-chevron-circle-down fa-2x" style="color: #035642" aria-hidden="true"></i></td>
       </tr>
       <tr class="Starbucks-Mobile hours-table-hidden">
          <td class="google_business_hours_by_day monday_only">
             <p>Monday-Thursday</p>
             7:30 AM - 10:30 AM, 11:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Starbucks-Mobile hours-table-hidden">
          <td class="google_business_hours_by_day friday_only">
             <p>Friday</p>
             7:30 AM - 10:30 AM, 11:30 AM - 2:30 PM
          </td>
       </tr>
       <tr class="Starbucks-Mobile hours-table-hidden">
          <td class="google_business_hours_by_day saturday_only">
             <p>Saturday</p>
             Closed
          </td>
       </tr>
       <tr class="Starbucks-Mobile hours-table-hidden">
          <td class="google_business_hours_by_day sunday_only">
             <p>Sunday</p>
             Closed
          </td>
       </tr>
    </tbody>
 </table>

 <script>
        function clickedOnHoursTable(obj){
            var test = obj.className;
            var cells = document.getElementsByClassName(test);
            for(var i=1; i<cells.length; i++){
                var element = cells[i];
                if(element.classList.contains("hours-table-hidden")){
                    element.classList.remove("hours-table-hidden");
                }
                else{
                    element.classList.add("hours-table-hidden");	
                }
            }
    
        }
</script>