<div class="hours">	
	<i class="fa fa-clock-o" aria-hidden="true"></i>
	<ul>
		<li><strong>Monday - Friday</strong> 10:00 a.m. - 2:00 a.m.</li>
		<li><strong>Saturday - Sunday</strong> 10:00 a.m. - 11:45 p.m.</li>
	</ul>
	<i class="fa fa-map-marker" aria-hidden="true"></i>
	<ul>
		<li><strong>Location</strong>: Building 19, University Union Neighborhood</li>
	</ul>
	<i class="fa fa-phone" aria-hidden="true"></i>
	<ul>
		<li class=""><strong>Bishops Burgers</strong>: 805-756-5952</li>
	</ul>
	
</div>