<div class="pricing pricing--pema">
	<div class="pricing__item">
		<h3 class="pricing__title">Mustang 150 Plan</h3>
		<p class="pricing__sentence">Includes meal credits and declining balance funds</p>
		<span class="devider"></span>
		<ul class="pricing__feature-list">
			<li class="pricing__feature">$283 declining balance funds distributed each quarter</li>
			<li class="pricing__feature">150 meal credits per quarter<br><small>(approximately 13 meals per week)</small></li>
			<li class="pricing__feature">WOW Meals - $200</li>
			<li class="pricing__feature">Base Cost - $785</li>
		</ul>
		<div class="pricing__price">
			<span class="pricing__currency">$</span>4,985
		</div>
	</div>
</div>