
<ul id="cpUl-primary">
	<li class="">
		<a href="#" class="expand">Nav Item</a>
		<div class="sliding-panel-subnav">
			<ul class="accordion">
				<li>
					<a href="javascript:void(0)" class="js-accordion-trigger">Sub Nav Item</a>
					<ul class="submenu">
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>						
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)" class="js-accordion-trigger">Sub Nav Item</a>
					<ul class="submenu">
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>						
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
					</ul>
				</li>
			</ul>
		</div>
	
	</li>

	<li class="">
		<a href="#" class="expand">Nav Item</a>
		<div class="sliding-panel-subnav">
			<ul class="accordion">
				<li>
					<a href="javascript:void(0)" class="js-accordion-trigger">Sub Nav Item</a>
					<ul class="submenu">
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>						
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)" class="js-accordion-trigger">Sub Nav Item</a>
					<ul class="submenu">
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>						
						<li><a href="{{ site.baseurl }}/">Submenu Nav Item</a></li>
					</ul>
				</li>
			</ul>
		</div>
	
	</li>


	
	<li class="">
		<a href="#" class="expand">Nav Item</a>
		<div class="sliding-panel-subnav">
			<ul>
				<li>
					<a href="{{ site.baseurl }}/">Sub Nav Item</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/">Sub Nav Item</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/">Sub Nav Item</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/">Sub Nav Item</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/">Sub Nav Item</a>
				</li>

			</ul>

			
		</div>
	</li>
	
	
	<li>
		<hr/>
	</li>
	<li class="small">
		<a href="{{ site.baseurl }}/" class="">Small Nav item</a>
	</li>
	<li class="small">
		<a href="{{ site.baseurl }}/" class="">Small Nav item</a>
	</li>
	<li class="small">
		<a href="{{ site.baseurl }}/" class="">Small Nav item</a>
	</li>
	<li class="small">
		<a href="{{ site.baseurl }}/" class="">Small Nav item</a>
	</li>
	<li class="small leading">
		<a href="{{ site.baseurl }}/" class="">Small Nav item</a>
	</li>
	
	<li>
		<hr/>
	</li>
	
	<li class="round-black">
	<a href="http://www.facebook.com/CPcampusdining" class="social-button facebook"><i class="fa fa-facebook"></i></a>
	
	<a href="http://www.twitter.com/CPcampusdining" class="social-button twitter"><i class="fa fa-twitter"></i></a>
	
	<a href="http://www.youtube.com/calpoly" class="social-button youtube"><i class="fa fa-youtube"></i></a>
	
	<a href="http://instagram.com/CPcampusdining" class="social-button instagram"><i class="fa fa-instagram"></i></a>
	
	<a href="http://www.pinterest.com/cpinitgirl/" class="social-button pinterest"><i class="fa fa-pinterest"></i></a>
	</li>
</ul>