
<nav id="navigation" class="sliding-panel-content">
	<div class="nav-content">

		{% include nav-ul.html %}
		<!--
		<ul class="cpnav">
			<li class="">
				<a href="#">Primary Link</a>
				<div class="sliding-panel-subnav">
					<ul>
						<li><a href="#">Secondary Link</a></li>
						<li><a href="#">Secondary Link</a></li>
					</ul>
				</div>	
			</li>
			<li class="">
			<a href="#">Primary Link</a>
				<div class="sliding-panel-subnav" style="background:red">
					<ul>
						<li><a href="#">Secondary Link</a></li>
						<li><a href="#">Secondary Link</a></li>
					</ul>
				</div>	
			</li>
		</ul>
		<div class="sliding-panel-close">Close Panel</div>
		-->
		
	</div>
</nav>
<div class="sliding-panel-fade-screen"></div>
	<div class="clearfix"></div>

