<div class="comment-container">
	<div class="comment">
		<div class="comment-image">
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i> 
				<strong class="fa-stack-1x calendar-text">1</strong></span>
			</div>
			<div class="comment-content">
				<p>Try raw food over cooked and save cooking power</p>
			</div>
		</div>
		<div class="comment">
			<div class="comment-image">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i> 
					<strong class="fa-stack-1x calendar-text">2</strong>
				</span>
			</div>
			<div class="comment-content">
				<p>When you cook, double up the recipe for leftovers and use less energy.</p>
			</div>
		</div>
		<div class="comment">
			<div class="comment-image">
				<span class="fa-stack fa-3x">
					<i class="fa fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
					<strong class="fa-stack-1x calendar-text">3</strong>
				</span>
			</div>
			<div class="comment-content">
				<p>Choose energy efficient appliances like your dorm room fridge.</p>
			</div>
		</div>
		<div class="comment">
			<div class="comment-image">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i> <strong class="fa-stack-1x calendar-text">4</strong>
				</span>
			</div>
			<div class="comment-content">
				<p>Wash only full loads of laundry or combine with a friend or roommate</p>
			</div>
			</div>
			<div class="comment">
				<div class="comment-image">
					<span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i> <strong class="fa-stack-1x calendar-text">5</strong></span>
				</div>
				<div class="comment-content">
					<p>Avoid taking multiple showers in a day</p>
				</div>
			</div>
			<div class="comment">
				<div class="comment-image">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
						<strong class="fa-stack-1x calendar-text">6</strong>
					</span>
				</div>
				<div class="comment-content">
					<p>Report water leaks right away</p>
				</div>
		</div>
	</div>