<div class="scroll-table">
    <table class="tables hours-table hours-special-table" cellspacing="0" cellpadding="0">
       <colgroup>
          <col class="short">
          <col span="2" class="long">
       </colgroup>
       <thead>
          <tr>
             <th colspan="8">Special Hours: WOW<br>September 9th thru September 16th</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <th>University Union Neighborhood</th>
             <th>Monday<br>09.10.2018</th>
             <th>Tuesday<br>09.11.2018</th>
             <th>Wednesday<br>09.12.2018</th>
             <th>Thursday<br>09.13.2018</th>
             <th>Friday<br>09.14.2018</th>
             <th>Saturday<br>09.15.2018</th>
             <th>Sunday<br>09.16.2018</th>
          </tr>
          <tr class="fetch_exported_special_hours-805Kitchen">
             <td><a href="/805kitchen"><img src="/img/logos/805Kitchen.svg" class="logo ignore-svg" alt="805 Kitchen"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">7:00 AM - 9:00 AM</span></span><span class="gb_hours_monday"><span class="open">11:30 AM - 1:30 PM</span></span><span class="gb_hours_monday"><span class="open">5:00 PM - 7:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">7:00 AM - 9:00 AM</span></span><span class="gb_hours_tuesday"><span class="open">11:30 AM - 1:30 PM</span></span><span class="gb_hours_tuesday"><span class="open">5:00 PM - 7:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">7:00 AM - 9:00 AM</span></span><span class="gb_hours_wednesday"><span class="open">11:30 AM - 1:30 PM</span></span><span class="gb_hours_wednesday"><span class="open">5:00 PM - 7:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-805Cafe">
             <td><a href="/805cafe"><img src="/img/logos/805Cafe.svg" class="logo ignore-svg" alt="805 Cafe"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Bishops-Burgers">
             <td><a href="/bishopsburgers"><img src="/img/logos/Bishops-Burgers.svg" class="logo ignore-svg" alt="Bishop Craft Burgers"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">10:00 AM - 3:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">10:00 AM - 3:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">10:00 AM - 3:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Chick-Fil-A">
             <td><a href="/chickfila"><img src="/img/logos/Chick-Fil-A.svg" class="logo ignore-svg" alt="Chick-Fil-A"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun no_special_hours_found special_hours_lookup_complete"><span class="open">6:30 AM - 10:00 PM</span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun no_special_hours_found special_hours_lookup_complete"><span class="open">6:30 AM - 10:00 PM</span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun no_special_hours_found special_hours_lookup_complete"><span class="open">6:30 AM - 10:00 PM</span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun no_special_hours_found special_hours_lookup_complete">Closed</td>
          </tr>
          <tr class="fetch_exported_special_hours-Lucys-Juice">
             <td><a href="/lucysjuice"><img src="/img/logos/Lucys-Juice.svg" class="logo ignore-svg" alt="Lucy's Juice"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Mustang-Station">
             <td><a href="/mustangstation"><img src="/img/logos/Mustang-Station.svg" class="logo ignore-svg" alt="Mustang Station"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Myrons">
             <td><a href="/myrons"><img src="/img/logos/Myrons.svg" class="logo ignore-svg" alt="Myron's"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Red-Radish">
             <td><a href="/redradish"><img src="/img/logos/Red-Radish.svg" class="logo ignore-svg" alt="Red Radish"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Poly-Deli">
             <td><a href="/polydeli"><img src="/img/logos/Poly-Deli.svg" class="logo ignore-svg" alt="Poly Deli"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Starbucks-University-Union">
             <td><a href="/Starbucks-University-Union"><img src="/img/logos/Starbucks-University-Union.svg" class="logo ignore-svg" alt="Starbucks UU"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">7:00 AM - 5:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">7:00 AM - 5:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">7:00 AM - 5:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">8:00 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">8:00 AM - 10:000 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:00 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">8:00 AM - 10:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Tu-Taco-Avenue">
             <td><a href="/tutaco"><img src="/img/logos/Tu-Taco-Avenue.svg" class="logo ignore-svg" alt="Tu Taco"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-The-Avenue">
             <td><a href="/theavenue"><img src="/img/logos/The-Avenue.svg" class="logo ignore-svg" alt="The Avenue"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">8:00 AM - 3:30 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">8:30 AM - 10:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Yogurt-Creations">
             <td><a href="/yogurtcreations"><img src="/img/logos/Yogurt-Creations.svg" class="logo ignore-svg" alt="Yogurt Creations"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Student-Choice">
             <td><a href="/studentchoice"><img src="/img/logos/Student-Choice.svg" class="logo ignore-svg" alt="Student Choice"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Shake-Smart">
             <td><a href="/shakesmart"><img src="/img/logos/Shake-Smart.svg" class="logo ignore-svg" alt="Shake Smart"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">10:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">10:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">10:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">10:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">10:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">8:00 AM - 8:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">8:00 AM - 8:00 PM</span></span></td>
          </tr>
          <tr>
             <th>Kennedy Library Neighborhood</th>
             <th>Monday<br>09.10.2018</th>
             <th>Tuesday<br>09.11.2018</th>
             <th>Wednesday<br>09.12.2018</th>
             <th>Thursday<br>09.13.2018</th>
             <th>Friday<br>09.14.2018</th>
             <th>Saturday<br>09.15.2018</th>
             <th>Sunday<br>09.16.2018</th>
          </tr>
          <tr class="fetch_exported_special_hours-Campus-Market">
             <td><a href="/campusmarket"><img src="/img/logos/Campus-Market.svg" class="logo ignore-svg" alt="Campus Market"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">7:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">7:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">7:30 AM - 10:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">7:30 AM - 10:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Julians">
             <td><a href="/julians"><img src="/img/logos/Julians.svg" class="logo ignore-svg" alt="Julian's Cafe Bistro"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Starbucks-at-CM">
             <td><a href="/starbucks-campus-market"><img src="/img/logos/Starbucks-at-CM.svg" class="logo ignore-svg" alt="Starbucks CM"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">7:30 AM - 4:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">7:30 AM - 7:30 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">7:30 AM - 7:30 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">7:30 AM - 7:30 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">7:30 AM - 7:30 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Subway">
             <td><a href="/subway"><img src="/img/logos/Subway.svg" class="logo ignore-svg" alt="Subway"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="open">7:00 AM - 11:00 PM</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Tu-Taco-Express">
             <td><a href="/tutaco"><img src="/img/logos/Tu-Taco-Express.svg" class="logo ignore-svg" alt="Tu Taco Express"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr>
             <th>Poly Canyon Village Neighborhood</th>
             <th>Monday<br>09.10.2018</th>
             <th>Tuesday<br>09.11.2018</th>
             <th>Wednesday<br>09.12.2018</th>
             <th>Thursday<br>09.13.2018</th>
             <th>Friday<br>09.14.2018</th>
             <th>Saturday<br>09.15.2018</th>
             <th>Sunday<br>09.16.2018</th>
          </tr>
          <tr class="fetch_exported_special_hours-Einstein-Bagels">
             <td><a href="/einsteinbrosbagels"><img src="/img/logos/Einstein-Bagels.svg" class="logo ignore-svg" alt="Einstein Bagels"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Jamba-Juice">
             <td><a href="/jambajuice"><img src="/img/logos/Jamba-Juice.svg" class="logo ignore-svg" alt="Jamba Juice"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Village-Market">
             <td><a href="/villagemarket"><img src="/img/logos/Village-Market.svg" class="logo ignore-svg" alt="Village Market"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Canyon-Cafe">
             <td><a href="/canyoncafe"><img src="/img/logos/Canyon-Cafe.svg" class="logo ignore-svg" alt="Canyon Cafe"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr>
             <th>Mobile Neighborhood</th>
             <th>Monday<br>09.10.2018</th>
             <th>Tuesday<br>09.11.2018</th>
             <th>Wednesday<br>09.12.2018</th>
             <th>Thursday<br>09.13.2018</th>
             <th>Friday<br>09.14.2018</th>
             <th>Saturday<br>09.15.2018</th>
             <th>Sunday<br>09.16.2018</th>
          </tr>
          <tr class="fetch_exported_special_hours-Central-Coaster">
             <td><a href="/centralcoaster"><img src="/img/logos/Central-Coaster.svg" class="logo ignore-svg" alt="Central Coaster"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Curbside-Grill">
             <td><a href="/curbsidegrill"><img src="/img/logos/Curbside-Grill.svg" class="logo ignore-svg" alt="Curbside Grill"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
          <tr class="fetch_exported_special_hours-Starbucks-Mobile">
             <td><a href="/starbucks-truck"><img src="/img/logos/Starbucks-Mobile.svg" class="logo ignore-svg" alt="Starbucks Truck"></a></td>
             <td class="special_hours_target monday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_monday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target tuesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_tuesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target wednesday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_wednesday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target thursday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_thursday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target friday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_friday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target saturday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_saturday"><span class="closed">Closed</span></span></td>
             <td class="special_hours_target sunday_only special_hours_lookup_begun special_hours_found special_hours_lookup_complete"><span class="gb_hours_sunday"><span class="closed">Closed</span></span></td>
          </tr>
       </tbody>
    </table>