
/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/

footer {
	bottom:0;
	width:100%;
	border-top:solid 1px $black;
	background:lighten($black,10%);
	font-size:$base-font-size *.8;
	z-index:-90;
	// position:fixed;
	.wrapper {
		border-bottom:solid 1px darken($dark-gray,20%);
		@include padding($large-spacing);
		
		div {
			@include fill-parent;
			@include media(min-width $medium-screen  max-width $large-screen) {
				&:first-child {
					@include span-columns(12);	
					text-align: center;
					padding:$base-spacing;
				}
				@include span-columns(4);	
			}	
			@include media($large-screen) {
				@include span-columns(3);

			}

			p {
				color:$black-white;
				
				@include margin(null null 2vh);

				span {
					color:$dingley;
				}
			}
			a {
				color:$black-white;
				&:hover{
					color:$dingley;
				}
			}
			ul {
				li {
					&.br {
						border-bottom:solid 1px $black-white;
						width:100%;
						display:block;
						margin:.5em 0 1em;

					}
				}
			}
			img {
				max-width:200px;
			}

		}

	}
	.copyright {
		border-top:solid 1px lighten($black,12%);
		background:$black;
		text-align: center;
		@include media($medium-screen){
			text-align: right;
		}
		color:lighten($dark-gray,10%);
		font-weight:normal;
		@include padding(10px 10px 10px 10px);
	} 

}



#footer-connect {
	color: $white;
  	$texture-top-background: $mustard;
  	$texture-bottom-background:lighten($mustard,10%);
  	@include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1);
  	border-top:solid 1px $mustard;
  	border-bottom:solid 1px lighten($mustard,10%);
  	padding: 2em 0;
  		overflow-y:hidden;

  	.content{
  		@include outer-container;
  		padding-left:$gutter;
  		padding-right:$gutter;
		h2 {
			text-align: left;
			font-weight:$heavy-font-weight;
			margin-bottom: .25em;
		}	
		p,>h3 {
			text-align: left;
			font-weight:$heavy-font-weight;
			font-size: 1.5em;
			span {
				color:$dingley;
			}
		}
		a {
			text-align: center;
		}

		.facebook-module {
			font-size:$small-font-size;
			background:$white;
			text-align: center;
			margin-bottom:1em;
			position:relative;
			@media screen and (min-width: 1125px) {
			}
			.fb-page {
				max-width:100%;
				//margin: 1em auto .5em auto;
				overflow:hidden;
				a {
					margin:0 .2em;
				}

			}
			@media screen and (min-width: 680px) {
				@include span-columns(6);
				.fb-page {
					width:100%;
					margin: 1em auto .5em auto;
				}

			}
			@media screen and (min-width: 1125px) {
				.fb-page {
					width:500px;
				}
			}

		}
		.instagram-module {
			font-size:$small-font-size;
			background:$white;
			text-align: center;
			margin-bottom:1em;

			#instafeed {
				height:450px;
				width:100%;
				//min-width:400px;
				display:block;
				overflow:hidden;
				margin: 1em auto .5em auto;
				a {
					margin:0 .2em;
				}
			}
			@media screen and (min-width: 680px) {
				@include span-columns(6);
				@include omega;

				#instafeed {
					height:450px;
					
				}
					
			}
			@media screen and (min-width: 1125px) {

				#instafeed {
					width:500px;
					height:450px;

				}
			}
			
		}
		
		

	}
}
.mailchimp-module {
	@include span-columns(11);
	@include shift(1);
	@include media($large-screen) {
		@include span-columns(12);
		@include shift(0);
		max-width:1200px;

	}
	margin-top:4em;
	position:relative;

	#mc_embed_signup_scroll {
		@include border-color(null $dingley null $dingley);
		@include border-width(0px 20px 0px 20px);
		@include border-style(solid);
		h2 {
			text-transform: uppercase;
			background:$dingley;
			color:$white;
			padding:.5em .5em .5em 3.5em;
			font-size:$small-font-size;
			@include media($medium-screen){
				padding:.5em .5em .5em 3.5em;
				font-size:$large-font-size;
			}
			margin:0;
			text-align: left;
				

		}
		.inner-fields {
			@include outer-container;
			padding:1em;
			background:$white;
			#mce-FNAME, #mce-EMAIL, #mce-responses {
				@include span-columns(10);
				@include shift(1);
			}
			#mce-FNAME {
				@include omega;
			}

			.submit{
				@include shift(1);
				@include span-columns(10);
				@include omega;
				border:solid 2px $dingley;


			}
			@include media($medium-screen){
				#mce-FNAME, #mce-EMAIL {
					@include span-columns(5);
					@include shift(0);
					
				}
				#mce-FNAME {
					@include shift(1);
				}

				.submit{
					@include shift(1);

					@include span-columns(10);
					@include omega;
				}
			}

			.dish-logo {
				position:absolute;
				background: url("#{$image-path}/logos/CD_The-Dish_Logo.svg") no-repeat left top;
				background-size:contain;
				top:-1em;
				left:-2em;
				width:6em;
				height:5em;
				z-index: 9;
				@include media($medium-screen){
					top:-2em;
					left:-4em;
					width:8em;
					height:7em;
				}

				.submit{
					@include span-columns(3);
					@include shift(0);
					@include omega;

				}
			}
			input {
				border:none;
				box-shadow:none;
				border-bottom:solid 2px $dingley;
				font-weight: $heavy-font-weight;
				&::placeholder {
					color:$dingley;
					opacity:1;
					font-weight: $heavy-font-weight;
				}
			}
			input:focus, input:active {
				border-color:$mustard;
				&::placeholder {
					opacity:.5;
					color:$light-gray;
				}
			}
			.honeypot {
				position: absolute; left: -5000px;
			}
			#mce-responses {
						@include transition(all .5s ease-in-out);

				#mce-error-response {
					color:$tamarillo;
					font-weight:bold;
					@include transition(all .5s ease-in-out);
				}
				#mce-success-response {
					color:$dingley;
					font-weight:bold;
					@include transition(all .5s ease-in-out);
				}
			}
		}
		
	}
	.dish-logo {
		position:absolute;
		background: url("#{$image-path}/logos/CD_The-Dish_Logo.svg") no-repeat left top;
		background-size:contain;
		top:-1em;
		left:-2em;
		width:6em;
		height:5em;
		@include media($medium-screen){
			top:-2em;
			left:-6em;
			width:12em;
			height:11em;
		}

	}


}
#footer-social {
	border-top:solid 1px lighten($black-white,15%);
	padding:1em;
	text-align: center;
	background:#fff;
	//margin-bottom:0;	
}