header {
    z-index:1;
    top:0;
    width:100%;
  	z-index: 9999999;
  	
  	.header-primary {
  		max-height: 90px;
  		>* {max-height:90px;}
  		transition: all 0.2s;
    	border-bottom: 1px solid #c0c0c0 ;
    	position:fixed;
    	top:0px;
    	width:100%;
	  	background:rgba(255,255,255,.9);
    	z-index: 9999999;
    	@include media($medium-screen){
    		top:30px;
    	}
    	#cplogo, .left-nav, .right-nav {
    		  		transition: all 0.2s;

    	}
    	#cplogo {

	        width: 110px;
	        transition: width 0.2s;
	       	margin: 1em auto $small-spacing  auto;
	       	@include media($medium-screen){
	       		margin: 1em $small-spacing $small-spacing  auto;
	    	}
	    	@include media($large-screen){
	       		margin: 1em auto $small-spacing  auto;
	    	}
	       	img {
	       		width:100%;
	       		height:auto;
	       		max-height: 80px;
	       	}
	    }
	  
	    .left-nav {
	    	display:block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left:3%;
	    	line-height:1em;
	    	.hamburger {
	    		display:block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left:0%;
				background-color:transparent;

	    		&:hover, &:focus {
	    			background-color:transparent;
	    		}
	    		&:after {
	    			display:none;
	    		}
	    	}
	    }   
	  	
	  	.right-nav {
	  		display:none;
	  		position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right:3%;
	  		@include media($large-screen) {
		  		display:block;
				float:right;
			}
			ul {
		        display: block;
		        display:inline;
		        float:right;
		        li {
		            margin:0px;
		            padding-left:$small-spacing;
		            text-align:center;
		            float:right;
		            a {	
		   						color: $parsley;
		              margin: 0;
		              font-weight:400;
		                &:hover {
		                	color: $dingley;
		                }
		            }
		        }
		    }
		       
	    }
  		&.fixed {
	  		top:0;

	  	}

	}
}

.top-nav {
    display:none;
    z-index: 999999999;
    font-size:$extra-small-font-size;
	ul {
	    display: block;
	    display:inline;
	    li {
	        margin:0px;
	        text-align:center;
	        float:right;
	        a {	
	        	padding:$small-spacing;
					color: $sage;
	            margin: 0;
	            &:hover {
	            	color: $dark-gray;
	                background:$white;
	            }
	        }
	        &.basesite {
	        	display:none;
	        	@include media(750px) {
	        		display:inline-block;
	        	}
	        }
	    }
	    &:first-child {
	    	float:left;

	    }
	    &:last-child {
	    	float:right;
	    }
	}
    @include media($medium-screen) {
        background:$parsley;
        display: inline-block;
        width: 100%;
       	padding:$small-spacing 0%;
        position:fixed;
       	transition: all 0.2s;
		top:0;
        &.hide {
        	top:-40px;
        }
    }
}

