#fourwinds {
	width:100%;
	height:100vh;
	
	.description {
	    width: 33%;
	    height:100vh;
	    background-image: linear-gradient(41deg,#002b33 8%,#035642 100%)!important;
	    position:relative;
	    float:left;
	    img {
	    	position:absolute;
	    	width:90%;
	    	top:-5%;
	    	left:5%;
	    	height:auto;
	    }
		p {
			margin-top:300px;
			color:#fff;			
			font-size: 1.5em;
		    padding: 0em 1em 1em 1em;
		    text-align: center;
		    font-weight: bold;
		}
	}
	.webnutrition_container {
		background-image: url(#{$image-path}/webnutrition/green_bg.png);
		background-size: 100% 100%;
		width:67%;
		height:100vh;
		float:right;
		position:relative;
	}
	.webnutrition {
		table-layout: auto;
    	padding: 2.5em;
    	border:0px;
		tbody {
			background:none;
		}
		tr, tr:hover, tr:hover>td {
			background: transparent!important;
		}
		tr:first-child td {
			font-weight: bold;
			vertical-align: bottom;
			color:$parsley;
		}

		td {
			border:none;
			padding:5px 12px;
			font-weight: 500;
			&.itemInfo {
				width:40%;
				.menuItemTitle {
					font-size: 1.25em
				}

			}
			&.icons {
				max-width:50px;
			}
		}
	}
}


#fourwinds_v2 {
	width:100%;
	height:100vh;
	.title {
		position:absolute;
		top:3%;
		left:3%;
		right:3%;
		bottom:90%;
		background:red;
		
	}
	.description {
		position:absolute;
		top:13%;
		left:3%;
		right:3%;
		bottom:70%;
		background:$parsley;
		p {
			color:#fff;
			font-size: 2em;
		    padding: 0em 1em 1em 1em;
		    text-align: center;
		    font-weight: bold;
		}
	}
	.webnutrition {
		table-layout: auto;
		width:94%;
		max-height:54%;
		position:absolute;
		top:40%;
		right:3%;
		left:3%;
		bottom:3%;
		overflow:none;
		border:none;
		font-size:1em;
		tbody {
			background:none;
		}
		tr, tr:hover, tr:hover>td {
			background: transparent!important;
		}
		tr:first-child td {
			font-weight: bold;
			vertical-align: bottom;
			color:$parsley;
		}

		td {
			border:none;
			padding:15px 12px;
			font-weight: 500;
			&.itemInfo {
				width:40%;
				.menuItemTitle {
					font-size: 1.5em
				}

			}
			&.icons {
				max-width:50px;
			}
		}
	}
}
